
/*Header*/

body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    /*border:1px solid #777;*/
    /* background-color: graytext;*/
    width: 100%;
    height: 15vh;

}

.header img{
    margin-top: 5vh;
}

/*tabla*/
.mainrow{
    border-radius: 15px;
    height: 5vh;
    padding-top: 1.5vh;
    background-color: #0971B2;

}

.superior{
    padding-top: 6%;
    height: 60%;
}

.inferior{
    height: 40%;
}

h4{
    color: white;
}


#cuerpo{
    border-radius: 20px;
    background-color: #AFAFAF;
    /*width: 100%;*/
    height: 75vh;
    padding: 1%;  
    height: auto;
    align-items: center;

}
.leftspace{
    /*border:1px solid #777;*/
    background-color: #AFAFAF;
    text-align: center;
    padding: 1%;
    height: 60vh; 
     overflow: auto;

}
.leftspace table {
    /*border:1px solid #777;*/
    background-color: #c1bfbf;
    border-radius: 10px;


}
.midspace{
    /*border:1px solid #777;*/
    background-color: #AFAFAF;
    text-align: center;
    height: content;
    padding: 1%;
    height: 60vh; ; 
     overflow: auto;
}

.midspace table{
    /*border:1px solid #777;*/
    background-color: #c1bfbf;
    border-radius: 10px;

}

.rightspace{
    /*border:1px solid #777;*/
    background-color: #AFAFAF;
    padding: 1%;
    text-align: center;
    height: 60vh; 
    overflow: auto;
}

.tablarutas{
    /*border:1px solid #777;*/
    border-radius: 10px;
    height: 20vh; 
    overflow: auto;

}

label{
    color: white;
}

.form-group{
    padding: 5%;
    border-radius: 10px;
    background-color: #0971B2;
}


/*footer*/
footer{

}

footer button{
    width: 10vw !important;

}

.footerleft{
    float: right;
    padding: 1%;

}
.footerright{
    float: left;
    padding: 1%; 

}

/*botones*/


.btn-info{
    background-color: #0971B2;
    
}

.btn-danger, .btn-success {
    background-color: #FF2424;
    
}
.custom {
    width: 20vw !important;
    min-width: 150px;
}
.headerder button{
    float: right;

}
.headerizq button{
    float: left;


}


.texto{
    background-color: #C1BFBF;
}

.form-control{
    text-align: center;
}

#table td{
    text-align:center; 
    vertical-align:middle;
}